input {
  padding: 8px 20px;
  border: none;
  border-radius: 30px;
}

.list {
  list-style-image: url('https://media.giphy.com/media/tBik70kZOJKOk/giphy.gif');
  color: aliceblue;
  font-size: 18px;
  text-align: left;

}

.list li {
  padding-left: 20px;
}

p {
  color: aliceblue;
}