.pomodoro {
  width: 400px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0px 7px 5px 4px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 7px 5px 4px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 7px 5px 4px rgba(0,0,0,0.05);
}

.pomodoro img {
  width: 100px;
}

.pomodoro input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.189);
  margin-right: 5px;
}